
/*--------------------------------------------- global style---------------------------- */

/*--------------------x------------------------- global style-------------x--------------- */
.participation-cards{
   width: 100%;
}
.participation-card{
   max-width: 30%;
   width: 100%;
}

/*---------------------------------------------content-card----------------------------*/



