@charset "UTF-8";
input,
button,
select,
textarea {
	outline: none;
}
*{
	box-sizing: border-box;
	outline: none!important;
}
ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
ul, li, input{
	display: block;
	list-style: none;
}
body{
	font-family: 'Cormorant Unicase', serif;
	font-family: 'Montserrat', sans-serif;
	–webkit-font-smoothing: antialsed; 
	-webkit-overflow-skrolling: touch;
	color: #4c4d46;
	font-size: 14px;
}
h1, h2, h3, h4, h5, h6, p{
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
	display: block;
	outline: none!important;
}
button{
	border: none;
}
h1{
	font-family: 'Cormorant Unicase', serif;
	font-weight: 700;
	font-size: 85px;
	letter-spacing: 0.1em;
	color: #fff;
}
h2{
	font-family: 'Cormorant Unicase', serif;
	font-weight: 700;
	font-size: 48px;
	margin-bottom: 45px;
	text-align: center;
}
h3{
	font-family: 'Cormorant Unicase', serif;
	font-size: 36px;
}
h4{
	font-size: 24px;
	font-weight: 700px;
	font-family: 'Cormorant Unicase', serif;
}
section{
	padding-top: 65px;
	padding-bottom: 70px;
}
button{
	border: none;
	list-style: none;
	text-decoration: none;
}
a.active.focus,
a.active:focus,
a.focus,
a:active.focus,
a:active:focus,
a:focus,
button.active.focus,
button.active:focus,
button.focus,
button:active.focus,
button:active:focus,
button:focus{
outline: 0!important;
outline-color: transparent!important;
outline-width: 0!important;
outline-style: none!important;
box-shadow: 0 0 0 0 rgba(0,123,255,0)!important;
}
.container{
	max-width: 1170px;
}
.btn-up{
	position: fixed;
	top: 60%;
	right: 0;
	width: 50px;
	height: 50px;
	background: rgba(0, 204, 102, 0.3);
	border-radius: 100%;
	flex-direction: inherit;
	justify-content: center;
	align-items: center;
	z-index: 1000;
	display: none;
}
.btn-up:hover{
	cursor: pointer;
}
 .btn-up:after{
 	margin-top: 5%;
 	content: '';
 	position: absolute;
	height: 15px;
	width: 15px;
	border-right: 2px solid #000;
	border-bottom: 2px solid #000;
	transform: rotate(220deg);
 }
 .form-active {
	display: none;
	text-align: center;
	z-index: 5000;
	top: 35%;
	bottom: 0;
	opacity: 0;
	position: fixed;
	background: #fff;
	width: 300px;
	height: 250px;
	padding: 5px 5px 5px;
	border-radius: 20px;
	box-shadow: 0 5px 20px rgba(44, 62, 80, 0.2);
	margin: 0px auto 0px -152px;
	left: 50%;
}
.form-active__close{
  width: 21px; height: 21px;
  position: absolute;
  font-size: 29px;
  top: 1px; right: 11px;
  cursor: pointer;
  display: block;
  z-index: 1000;
  color: #000;
}
.form-active__title{
	color: #000;
	display: block;
	text-align: center;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 10px;
}
.form-active__input{
	margin: 0 auto;
	box-sizing: border-box;
	font-family: 'Ubuntu', sans-serif;
	font-size: 12px;
	width: 90%;
	padding: 10px 5px;
	border-radius: 5px;
	margin-bottom: 5px;
	border: 1px solid rgba(39, 52, 86, 0.26);
	resize: none;
}
.form-active input:last-child{
	margin-bottom: 0;
}
.form-active__btn{
	display: block;
	width: 50%;
	padding: 10px;
	border: 2px solid #67811e;
	letter-spacing: 0.09em;
	list-style: none;
	outline: none;
	border-radius: 5px;
	font-size: 12px;
	color: #000;
	border: 2px solid #67811e;
	transition: all 0.5s ease-in-out;
	text-align: center;
	margin: 20 auto;
}
.form-active__btn:hover{
	background: #67811e;
	transition: all 0.3s ease-in-out;
	color: #fff;
}
.form-overlay{
  z-index: 50;
  position: fixed;
  background: rgba(0, 0, 0, .7);
  width: 100%; height: 100%;
  top: 0; left: 0;
  cursor: pointer;
  display: none;
}
.section-subtitle{
	text-align: center;
	letter-spacing: 0.02em;
	line-height: 1.7em;
}

.btn{
	text-align: center;
	display: block;
	padding: 15px 0;
	font-weight: 700;
	text-align: center;
	transition: all 0.3s ease-in-out;
	border: 2px solid #67811e;
	letter-spacing: 0.09em;
}
/*Первый экран*/
.header{
	background: url(../img/header-bg.png) no-repeat center top / cover;
	min-height: 100vh;
	padding-top: 30px;
	padding-bottom: 170px;
	overflow: hidden;
}
.header:after{
	content: "";
	position: absolute;
	background: #eae6e3;
	background-size: cover;
	top: 98px;
	width: 100%;
	height: 1px;
}
.logo{
	font-size: 24px;
	font-weight: 700;
	padding-left: 18px;
	padding-top: 15px;
	background: url(../img/logo.png) no-repeat center left;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}
a.logo:hover{
	color: #ffdad3;
	transition: all 0.3s ease-in-out;
}
a.logo{
	color: #fff;
}
/*Boorger active*/
.burger-menu__button{
	z-index: 5000;
	display: none;
	position: relative;
	width: 40px;
	height: 40px;
	transition: all 0.5s ease-in-out;
	cursor: pointer;
}
.burger-menu__lines,
.burger-menu__lines:after,
.burger-menu__lines:before{
	position: absolute;
	width: 40px;
	height: 2px;
	background: #fff;
	transition: all 0.5s ease-in-out;
}
.burger-menu__lines{
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.burger-menu__lines:before{
	content: "";
	top: -10px;
}
.burger-menu__lines:after{
	content: "";
	top: 10px;
}
.burger-menu__button:hover .burger-menu__lines{
	transition: all 0.5s ease-in-out;
}
.burger-menu.active .burger-menu__button,
.burger-menu.active .burger-menu__lines{
 	background: transparent;
}
.burger-menu.active .burger-menu__lines:before{
	 top: 0;
	 transform: rotate(45deg);
}
.burger-menu.active .burger-menu__lines:after{
	top: 0;
	transform: rotate(-45deg);
}

/*Boorger close*/
.header-nav li a{
	text-decoration: none;
	color: #e5e3df;
}
.header-nav li{
	margin-right: 35px;
	transition: all 0.3s ease-in-out;
}
.header-nav li:last-child{
	margin-right: 0;
}
.header-nav li a:hover{
	color: #ffdad3;
	transition: all 0.3s ease-in-out;
}
.header-nav__tel{
	font-weight: 700;
	color: #fff;
	font-size: 12px;
	letter-spacing: 0.09em;
	text-align: right;
}
a.header-nav__btn{
	font-size: 12px;
	display: block;
	text-decoration: none;
	color: #fff;
	width: 140px;
	padding: 9px 0;
	border-radius: 5px;
	transition: all 0.3s ease-in-out;
	text-align: center;
	border: 2px solid #67811e;
	margin-left: 23px;
}
a.header-nav__btn:hover{
	background: #67811e;
	transition: all 0.3s ease-in-out;
	color: #fff;
}
a.header-nav__btn:focus{
    outline: none!important;
}

/*OFFER*/

.offer{
	margin-top: 280px;
	opacity: 1;
}
.offer.active{
	opacity: 0;
}
.offer__subtitle{
	position: relative;
	font-size: 50px;
	font-family: 'Cormorant Unicase', serif;
	font-weight: 700;
	letter-spacing: 0.1em;
}
.offer__subtitle:after{
	position: absolute;
	content: "";
	height: 2px;
	width: 150px;
	bottom: 50%;
	top: 50%;
	left: 0;
	margin-left: 360px;
	background: #ffcabf;
}
.offer__btn{
	text-transform: uppercase;
	color: #fff;
	margin-top: 30px;
	width: 230px;
	transition: all 0.5s ease-in-out;
}
.offer__btn:hover{
	background: #ffcabf;
	color: #fff;
	border: none;
	transition: all 0.3s ease-in-out;
}
.offer-socials{
	text-align: right;
	margin-top: 100px;
}
.offer-socials a{
	display: block;
	margin-left: auto;
	color: #fff;
	text-align: right;
	margin-bottom: 18px;
	transition: all 0.3s ease-in-out;
}
.offer-socials a i{
	transform: rotate(90deg);
}
.offer-socials a:hover{
	color: #ffcabf;
	transition: all 0.3s ease-in-out;
}
/*section 2*/

.about{
	overflow: hidden;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 20%, #e8e8e8 80%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #ffffff 20%,#e8e8e8 80%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #ffffff 20%,#e8e8e8 80%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e8e8e8',GradientType=0 ); /* IE6-9 */
}
.about-title{
	
}
.about-video{

}
.about-video__link{
	position: relative;
	overflow: hidden;
}
.about-video__img{
	display: block;
	width: 100%;
}
.about-video__youtube{
	position: absolute;
	top: 5%;
	left: 2px;
	right: 0;
	margin: 0 auto;
	width: 71%;
	height: 85%;
}
.about-text{
	margin-top: 25px;
}
.about-text__title{
	line-height: 0.9em;
	display: block;
	position: relative;
}
.about-text__title:after{
	position: absolute;
	content: "";
	height: 1px;
	width: 150px;
	bottom: 20%;
	right: 0;
	background: #ffcabf;
}
.about-text__subtitle{
	margin-top: 25px;
	line-height: 1.5em;
}
.about-text__buttons{
	margin-top: 35px;
	display: flex;
	align-items: center;
}
.about-text__btn{
	width: 262px;
	transition: all 0.3s ease-in-out;
}
.about-text__btn:hover{
	background: #ffcabf;
	color: #fff;
	border: none;
	transition: all 0.3s ease-in-out;
}
a.about-text__btn-more{
	text-decoration: none;
	color: #707070;
	margin-left: 15px;
	position: relative;
	background: url(../img/play-btn.png) no-repeat center right;
	padding-right: 20px;
	text-decoration: underline #67811e;
	transition: all 0.3s ease-in-out;
}
a.about-text__btn-more:hover{
	font-size: 16px;
	transition: all 0.3s ease-in-out;
}

/*section 3*/

.services{
	background: #ffffff;
	overflow: hidden;
}
.services__title{

}
.services__subtitle{
	text-align: center;
	color: #6f6f6f;
	margin-bottom: 50px;
}

.services-card__img_terapy{
	display: block;
	margin-top: 10px;
	margin-left: -92px;
}

.services-card__img_steaming{
	display: block;
}
.services-card__img_massage{
	display: block;
	margin-top: -93px;
}
.services__card{
	
}
.services-card__title
{
	text-align: center;
	display: block;
	position: relative;
	margin-top: 30px;
}
.services-card__title:after{
	position: absolute;
	content: "";
	height: 1px;
	width: 150px;
	background: #ffcabf;
	left: 0;
	right: 0;
	bottom: -30px;
	margin: 0 auto;
}
.services-card__subtitle{
	text-align: center;
	margin-top: 50px;
}

/*section 4*/
.gallery{
	padding-bottom: 100px;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 15%, rgba(161, 255, 206, 0.2) 80%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #ffffff 15%, rgba(161, 255, 206, 0.2) 80%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #ffffff 15%, rgba(161, 255, 206, 0.2) 80%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='rgba(161, 255, 206, 0.2)',GradientType=0 ); /* IE6-9 */
	padding-bottom: 300px;
}
.gallery-title{

}
.gallery-subtitle{

}
.gallery-slideshow{
	margin: 0 auto;
	width: 190px;
	perspective: 1000px;
	position: relative;
	padding-top: 80px;
}
.gallery-slideshow__img{
	width: 100%;
	position: absolute;
	animation: animate 45s linear infinite;
	transform-style: preserve-3d;
}
.gallery-slideshow__img:hover{
	animation-play-state: paused;
	cursor: pointer;
}
.gallery-slideshow__img figure{
	width: 100%;
	height: 120px;
	border: 1px solid #4d444d;
	overflow: hidden;
	position: absolute;
}
.gallery-slideshow__img figure:nth-child(1){
	transform: rotateY(0deg) translateZ(300px);
}
.gallery-slideshow__img figure:nth-child(2){
	transform: rotateY(40deg) translateZ(300px);
}
.gallery-slideshow__img figure:nth-child(3){
	transform: rotateY(80deg) translateZ(300px);
}
.gallery-slideshow__img figure:nth-child(4){
	transform: rotateY(120deg) translateZ(300px);
}
.gallery-slideshow__img figure:nth-child(5){
	transform: rotateY(160deg) translateZ(300px);
}
.gallery-slideshow__img figure:nth-child(6){
	transform: rotateY(200deg) translateZ(300px);
}
.gallery-slideshow__img figure:nth-child(7){
	transform: rotateY(240deg) translateZ(300px);
}
.gallery-slideshow__img figure:nth-child(8){
	transform: rotateY(280deg) translateZ(300px);
}
.gallery-slideshow__img figure:nth-child(9){
	transform: rotateY(320deg) translateZ(300px);
}
.gallery-slideshow__shadow{
	position: absolute;
	background: linear-gradient(to left, rgba(0, 176, 155, 0.5), rgba(150, 201, 61, 0.5), rgba(0, 176, 155, 0.5));
	border-radius: 3px;
}
.active.gallery-slideshow__shadow{
	display: none;
}
.gallery-slideshow__shadow img{
	image-rendering: auto;
	transition: all 0.7s;
	width: 80%;
	height: 80%;
	margin: 6% 10%;
}
.gallery-slideshow__shadow img:hover{
	transform: scale(1.3);
}
@keyframes animate{
	0%{
		transform: rotateY(0deg);
	}
	100%{
		transform: rotateY(360deg);
	}
}
.mfp-container{
	height: 50vh;
	top: 3%;
}
.mfp-fade.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}
/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	-o-transform: scale(0);
	transform: scale(0);
	
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
  opacity: 1;
}
/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}
/*section 5*/
.prices{
	overflow: hidden;
	padding-top: 0;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, rgba(161, 255, 206, 0.2) 20%, #fff 80%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(161, 255, 206, 0.2) 20%,#fff 80%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(161, 255, 206, 0.2) 20%,#fff 80%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(161, 255, 206, 0.2)', endColorstr='#fff',GradientType=0 ); /* IE6-9 */
}
.prices-title{
	
}
.prices-card{
	text-align: center;
	font-size: 30px;
	font-weight: 700;
}
.prices-card__price{
	position: relative;
}
.prices-card__price:after{
	position: absolute;
	content: "";
	height: 1px;
	width: 150px;
	background: #ffcabf;
	left: 0;
	right: 0;
	bottom: -10px;
	margin: 0 auto;
}
.prices-card__price span{
	display: block;
}
.prices-card__title{
	display: block;
	margin-top: 25px;
}
.prices-card__btn{
	padding: 20px 0;
	width: 230px;
	margin-top: 20px;
	font-weight: 500;
	transition: all 0.5s ease-in-out;
}
a.prices-card__btn:hover{
	background: #ffcabf;
	color: #fff;
	border: none;
	transition: all 0.3s ease-in-out;
	align-items: center;
	justify-content: space-between;
}
.prices-mobile{
	display: none;
}
/*section 6*/
.reviews{
	overflow: hidden;
	background: url(../img/review-bg.png) no-repeat top center / cover;
}
/*owl-carousel*/

.owl-card__text{
	text-align: center;
	width: 270px;
	margin: 0 auto;
	word-break: break-word;
}
.owl-card__surname{
	text-align: center;
	position: relative;
	margin-bottom: 20px;
}
.owl-card__surname:after{
	position: absolute;
	content: "";
	height: 1px;
	width: 150px;
	background: #ffcabf;
	left: 0;
	right: 0;
	bottom: -10px;
	margin: 0 auto;
}

.owl-prev span, .owl-next span{
	font-size: 60px;
	color: #93a560;
}
.owl-theme .owl-dots .owl-dot span{
	background: #fbe0da;
}
.owl-theme .owl-dots .owl-dot.active span{
	background: #c5cfab;
}
.owl-next span:hover{
	background: 0;
	color: #fad6cd;
	transition: all 0.5s ease-in-out;
}
.owl-prev span:hover{
	background: none;
	color: #fad6cd;
	transition: all 0.3s ease-in-out;
}
.owl-carousel .owl-nav button.owl-prev:hover{
	background: none;
}
.owl-carousel .owl-nav button.owl-next:hover{
	background: none;
}
.owl-theme .owl-dots .owl-dot span:hover{
	background: #fad6cd;
	transition: all 0.3s ease-in-out;
}
.reviews-form{
	margin-top: 60px;
}
.reviews-form__title{
	text-align: center;
}
.reviews-form__subtitle{
	text-align: center;
}
.form-content{
	padding-top: 50px;
}
.form-content__email{
	padding: 18px 30px;
	display: block;
	border: 1px solid #707070;
	border-radius: 5px;
	background: url(../img/email.png) no-repeat center left 10px;
	padding-left: 40px;
}
.form-content__tel{
	padding: 18px 30px;
	display: block;
	border: 1px solid #c4c4c8;
	margin-left: 30px;
	border-radius: 5px;
	background: url(../img/phone.png) no-repeat center left 10px;
	padding-left: 40px;
}
.form-content__btn{
	width: 235px;
	margin-left: 60px;
	transition: all 0.3s ease-in-out;
}
.form-content__btn:hover{
	background: #ffcabf;
	color: #fff;
	border: none;
	transition: all 0.3s ease-in-out;
}
.reviews-contacts{
	margin-left: 10px;
}
.reviews-contacts__email{
	margin-right: 80px;
	background: url(../img/email-orange.png) no-repeat center left;
	padding: 10px 0  10px 30px;
}
.reviews-contacts__tel{
	background: url(../img/phone-orange.png) no-repeat center left;
	padding: 10px 0  10px 30px;
}

.reviews-contacts__location{
	background: url(../img/location.png) no-repeat center left;
	padding: 10px 0  10px 30px;
	margin-left: 80px;
}
/*section 7 MAP*/
.map{
	overflow: hidden;
	padding: 0 12px;
}
.map-location{
	height: 390px;
	width: 100%;
}

/*footer*/

.footer{
	overflow: hidden;
	padding: 50px 0;
	background: #5c7165;
	font-size: 12px;
}
.footer-logo{
	width: 50%;
	padding-top: 19px;
	font-size: 16px;
	margin-top: -20px;
}
a.footer-logo{
		text-decoration: none;
	display: block;
}
.footer-about{
	color: #d1d1d1;
	margin-top: 10px;
}
.footer-tel{
	color: #fff;
	font-weight: 700;
	margin-top: 18px;
	font-size: 13px;
}
.footer-email{
	color: #fff;
	font-weight: 700;
	font-size: 12px;
}
.footer-menu{
	margin-left: 45px;
}
.footer-munu__text{
	color: #fff;
	font-weight: 700;
	margin-top: 6px;
}
.footer-menu__nav{
	margin-top: 6px;
}
.footer-menu__nav a{
	display: block;
	text-decoration: none;
	color: #d1d1d1;
}
.footer-menu__link{

}
.footer-socials{
	margin-top: 6px;
}
.footer-socials__text{
	color: #fff;
	font-weight: 700;
}
.footer-social__images{
	flex-direction: column;
	flex-flow: wrap;
}
.footer-socials__img{
	margin-right: 10px;
	margin-bottom: 10px;
}
.footer-form__text{
	color: #fff;
	font-weight: 700;
}
.footer-form__content{
	margin-top: 30px;
}
.footer-form__email{
	display: block;
	width: 100%;
	padding: 12px 0;
	border-radius: 5px;
	outline: none;
	border: none;
	padding-left: 10px;
}
.footer-form__btn{
	display: block;
	color: #fff;
	width: 165px;
	font-size: 12px;
	margin-top: 35px;
}
.footer-form__btn:hover{
	background: #67811e;
	color: #fff;
	transition: all 0.3s ease-in-out;
}
.footer-icons {
	display: none;
}
.footer-icons a{
	display: block;
	color: #fff;
	text-decoration: none;
}

/*Responcive*/

/*992px-1200px*/
@media screen and (max-width: 1200px){
	.header{
		min-height: 100%;
	}
	.header-nav__tel{
		display: none;
	}
	.header-nav__btn{
		margin-left: auto;
	}
	.offer-content{
		margin-top: 0;
	}
	.about-text{
		margin-top: 0;
		text-align: center;
		align-items: center;
	}
	.about-text__title:after{
		bottom: -20%;
    	left: 50%;
    	margin-left: -20%;
	}
	a.header-nav__btn{
		margin-left: 0;
	}
	.card-wrapper{
		flex-direction: column;
	   	align-items: center;
	   	margin: auto;
	}
	.card-wrapp{
		display: flex;
		flex-direction: column;
		flex-flow: column-reverse;
	}
	.services-card__img{
		margin-top: 0;
		width: -webkit-fill-available;
	}
	.services-card__img_terapy{
		margin-left: -55px;
	}
	.services-card__img_steaming{
		margin-top: 30px;
	}
	.services-card__img_massage{
		margin-top: 5px;
	}
	.footer-socials__img:nth-child(1){
		
	}
	.footer-socials__img:nth-child(2){
		
	}
	.footer-socials__img:nth-child(4){
		
	}
	.footer-socials__img:nth-child(5){
		display: none;
	}
	.footer-socials__img:nth-child(6){
		display: none;
	}
	.footer-social__images{
		width: 90%;
	}
	.footer-socials{
		width: 90%;
	}
	
}


/*769px+992px*/
@media screen and (max-width: 991px){
	.header{
		background: url(../img/desctop-bg.jpg) no-repeat center top;
		min-height: 80vh;
	}
	.burger-menu__button{
		position: relative;
		display: block;
		margin-left: 100%;
	}
	.header-navigation{
		z-index: 1000;
		left: -300%;
		position: fixed;
		width: 100%;
		height: calc(100vh - 50px);
		top: 100px;
		transition: all 0.5s ease-in-out;
		background: linear-gradient(to left, rgb(12%, 25%, 22%, 0.4), rgb(60%, 95%, 78%, 0.4));
	}
	.header-nav{
		width: 100%;
		position: fixed;
		display: inline-flex;
		flex-flow: column;
		align-items: center;
	}
	.header-nav li{
		font-size: 27px;
		margin: 0;
	}
	.header-nav li a{
	color: #fff;
	font-weight: 700;
	}
	.header-navigation.active{
		left: 0%;
	}
	a.header-nav__btn{
		display: none;
	}
	.offer{
		margin-top: 150px;
		margin-left: 9%;
	}
	.offer__title{
		font-size: 59px;
	}
	.offer__subtitle{
		font-size: 42px;
	}
	.offer__subtitle:after{
		left: -55px;
		width: 100px;
	}
	.about{
		padding-top: 0;
	}
	.about-wrapper{
		flex-direction: column;
		align-items: center;
	}
	.about-text{
		text-align: center;
		margin-top: 35px;
		width: 80%;
		margin: auto;
	}
	.about-text__btn{
		justify-content: center;
	}
	.about-text__buttons{
		justify-content: center;
	}
	.about-text__title:after{
		bottom: -20%;
    	left: 50%;
    	margin-left: -80px;
	}
	.about-text__subtitle{
		margin-top: 30px;
		font-size: 14px;
	}
	.about-text__btn-more{
		display: none;
	}

	.card-wrapp{
		width: 40%;
   		margin: auto;
	}
	.reviews-contacts__email{
		display: none;
	}
	.reviews-contacts__tel{
		display: none;
	}
	.reviews-contacts__location{
		display: none;
	}
	.owl-card__text{
		width: 200px;
	}
	.form-content{
		flex-direction: column;
		align-items: center;
	}
	.form-content__email, .form-content__tel{
		padding: 20px 38px;
		margin-bottom: 44px;
	}
	.form-content__tel{
		margin-left: 0;
	}
	.form-content__btn{
		margin-left: 0;
	}
	.footer-socials{
		width: 105%;
	}
}
@media screen and (max-width: 768px){
	.offer-socials{
		display: none;
	}
	.header{
	background: url(../img/gadget-bg.jpg) no-repeat center top;
	min-height: 70vh;
	}
	.header-navigation.active{
		left: 0;
	}
	.header-nav li{
		font-size: 25px;
	}
	.offer{
		margin-left: calc(40% - 95px);
	}
	.offer-content{
		text-align: center;
		margin-top: 100px;
	}
	.offer__subtitle{
		font-size: 35px;
	}
	.offer__subtitle:after{
		bottom: 0;
		top: 100%;
		left: 50%;
		margin-left: -50px;
	}
	.offer__btn{
		margin: 20px auto 0;
	}
	.about{
		padding-top: 0;
	}
	.about-text__btn{
		margin-bottom: 20%;
	}
	.prices-mobile{
		display: block;
		width: 100%;
	}
	.prices-mobile-buttons{
		font-size: 18px;
		justify-content: space-between;
		margin-bottom: 80px;
	}
	.prices-mobile__btn{
		background: #f1efec;
		padding: 25px 1px;
		width: 33%;
		text-align: center;
		border-radius: 5px;
	}
	.telasso-btn.active, .masage-btn.active, .steaming-btn.active{
		width: 60%;
		font-size: 22px;
		box-shadow: -15px -15px 15px rgba(255, 255, 255, 0.2),
					15px 15px 15px rgba(0, 0, 0, 0.1);
		position: absolute;
		transition: ease 1s transform;
		transform: translate(25%);
	}
	.cards-fullscreen{
		display: none;
	}
	.mobile-card{
		width: 100%;
	}
	.mobile-card__title{
		margin-bottom: 85px;
		word-break: break-word; 
	}
	.mobile-card__text{
		display: flex;
		margin-bottom: 16px;
		width: 100%;
	}
	.mobile-card__text span{
		display: block;
		color: #6f802c;
		font-weight: 700;
		margin-left: auto;
		word-break: break-word; 
		width: 20%;
	}
	.mobile-card__service{
		background: url(../img/check.png) no-repeat center left;
		padding-left: 25px;
		word-break: break-word;
		width: 80%;
	}
	.mobile-telasso{
		display: none;
	}
	.mobile-masage{
		display: none;
	}
	.mobile-steaming{
		display: none;
	}
	.footer-menu{
		display: none;
	}
	.footer-form__text{
		display: none;
	}
	.footer-form__email{
		display: none;
	}
	.footer-icons{
		display: flex;
		font-size: 20px;
		margin-top: 30px;
		margin-left: -38px;
	}
	.footer-icons a{
		margin-right: 25px;
	}
	.footer-form__btn{
		width: 145px;
		margin-left: -35%;
	}
	a.header-nav__btn{
		padding: 5px 0;
		font-size: 10px;
		margin-left: -100%;
	}
	.footer-socials{
		margin-left: -100%;
		width: 120%;
	}
	.gallery{
		padding-bottom: 200px;
	}
	.gallery-slideshow{
		width: 130px;
	}
	.gallery-slideshow__img figure{
		width: 100%;
		height: 90px;
	}
	.gallery-slideshow__shadow img{
		width: 80%;
	}
	.gallery-slideshow__img figure:nth-child(1){
		transform: rotateY(0deg) translateZ(200px);
	}
	.gallery-slideshow__img figure:nth-child(2){
		transform: rotateY(40deg) translateZ(200px);
	}
	.gallery-slideshow__img figure:nth-child(3){
		transform: rotateY(80deg) translateZ(200px);
	}
	.gallery-slideshow__img figure:nth-child(4){
		transform: rotateY(120deg) translateZ(200px);
	}
	.gallery-slideshow__img figure:nth-child(5){
		transform: rotateY(200deg) translateZ(200px);
	}
	.gallery-slideshow__img figure:nth-child(6){
		transform: rotateY(240deg) translateZ(200px);
	}
	.gallery-slideshow__img figure:nth-child(7){
		transform: rotateY(280deg) translateZ(200px);
	}
	.gallery-slideshow__img figure:nth-child(8){
		transform: rotateY(320deg) translateZ(200px);
	}
	.gallery-slideshow__img figure:nth-child(9){
		transform: rotateY(520deg) translateZ(200px);
	}
	.prices-title{
		padding-top: 35px;
	}
	.footer-social__images{
		width: 115%;
	}
}
/*0-576px*/
@media screen and (max-width: 576px){
	.telasso-btn.active, .masage-btn.active, .steaming-btn.active{
	}
	.header{
	background: url(../img/mobile-bg.jpg) no-repeat center top;
	/*height: 100%;*/
	}
	a.header-nav__btn{
		display: none;
	}
	h1{
		font-size: 50px;
	}
	h3{
		font-size: 30px;
	}
	.header-nav li{
		font-size: 30px;
		margin: 0;
	}
	.burger-menu__button{
		left: -20%;
		position: absolute;
		top: -35px;
		right: 0;
	}
	.offer{
		margin-left: calc(44% - 90px);
	}
	.offer-content{
		margin-top: 50px;
	}
	.offer__btn {
		width: 200px;
	}
	.offer__title{
		font-size: 40px;
	}
	.offer__subtitle{
		font-size: 28px;
	}
	.about{
		padding-top: 0;
	}
	.gallery{
		padding-top: 0;
		padding-bottom: 10px;
	}
	.gallery-slideshow{
		width: 100px;
		/*height: 36%;*/
		margin: 0 auto 160px;
	}
	.gallery-slideshow__img figure:nth-child(1){
		transform: rotateY(0deg) translateZ(150px);
	}
	.gallery-slideshow__img figure:nth-child(2){
		transform: rotateY(40deg) translateZ(150px);
	}
	.gallery-slideshow__img figure:nth-child(3){
		transform: rotateY(80deg) translateZ(150px);
	}
	.gallery-slideshow__img figure:nth-child(4){
		transform: rotateY(120deg) translateZ(150px);
	}
	.gallery-slideshow__img figure:nth-child(5){
		transform: rotateY(200deg) translateZ(150px);
	}
	.gallery-slideshow__img figure:nth-child(6){
		transform: rotateY(240deg) translateZ(150px);
	}
	.gallery-slideshow__img figure:nth-child(7){
		transform: rotateY(280deg) translateZ(150px);
	}
	.gallery-slideshow__img figure:nth-child(8){
		transform: rotateY(320deg) translateZ(150px);
	}
	.gallery-slideshow__img figure:nth-child(9){
		transform: rotateY(520deg) translateZ(150px);
	}
	.gallery-slideshow__shadow img{
		margin: 9% 10%;
	}
	.footer-contacts__wrapper{
		font-size: 10px;
	}
	.footer-tel{
		font-size: 9px;
	}
	.footer-email{
		font-size: 10px;
	}
	.footer-form__btn{
		font-size: 10px;
	}
	.footer-icons{
		font-size: 10px;
	}
	.footer-form__btn{
		width: 100px;
		padding: 10px 0;
	}
	.footer-socials{
		display: none;
	}
	.card-wrapp{
		width: 90%;
	}
	.services-card__img{
		width: 70%;
		margin: auto;
	}
	.services-card__img_terapy {
		margin-left: 7%;
	}
	.prices-mobile-buttons{
		flex-direction: column;
	}
	.prices-mobile__btn{
		width: 90%;
		margin: auto;
		margin-top: 10px;
	}
	.telasso-btn.active, .steaming-btn.active, .masage-btn.active{
		top: 60px;
		left: calc(-14% - -7.7%);
		width: 75%;

	}
	.mobile-card__text{
		font-size: 10px;
		width: 100%;
	}
	.mobile-card__service{
		width: 75%;
	}
	.mobile-card__text span{
		width: 20%;
	}
}